* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 0 50px;
}

footer {
    padding: 20px;
}

.content {
    min-height: calc(100vh - 64px - 70px);
    padding: 30px;
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 30px 150px;
}

.search {
    display: grid;
    grid-template-columns: 6fr 1fr;
    gap: 20px;
    padding: 0 10%;
}

.search a {
    align-self: center;
    height: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-Movies {
    padding: 20px;
    display: flex;
    gap: 100px;
    justify-content: center;
}